{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
          <img src="https://e7.pngegg.com/pngimages/986/1015/png-clipart-atom-molecular-term-symbol-symbol-miscellaneous-symmetry-thumbnail.png" class="navbar__logo"/>
          <ul class="navbar__links">
            <a href="{% url 'home' %}"><li>Home</li></a>            
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><li>Logout</li></a>
            {% else %}
            <a href="{% url 'login' %}"><li>Login</li></a>
            {% endif %}
            {% if user.is_superuser and window.screen.width < 768%}
            <a href="{% url 'admin:index' %}"><li>Admin</li></a>
            {% endif %}
          </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

{% if user.is_authenticated %}
<div id="add_post">
    <a href="{% url 'new_post' %}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTOEgOrWGJ1lWOo4SiaiKJbpSWmGndmm1QO6A&usqp=CAU" alt="add_post" /></a>
</div>
{% endif %}

</body>
</html>
