{% extends 'base.html' %}
{% block content %}
<div class="space"></div>
<div class="new_post">
    {% if user.is_authenticated and user == post.author %}

    <h3>Your post</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="sc">Upload</button>
    </form>
    {% else %}
    Only the author can modify his post.
    {% endif %}
</div>
{% endblock content %}
