{% extends 'base.html' %}
{% block content %}
<div class="space"></div>
    {% for post in all_post %}
    <div class="post">
        <h3>{{ post.title }}</h3><br>
        <p class="s_content" >{{ post.content|truncatechars_html:8 }}</p><br>
        <p class="read_more"><a href="{% url 'read' post.id %}">Read more</a></p>
    </div>
    {% empty %}
    <div class="post">
        <p>No post</p>
    </div>
    {% endfor %}
{% endblock content %}
