{% extends 'base.html' %}
{% block content %}
<div class="space"></div>
<div class="new_post">
    {% if user.is_authenticated %}
    <h3>Your post</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% else %}
    You must be logged in to write a post
    <br>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
{% endblock content %}
