{% extends 'base.html' %}
{% block content %}
<div class="space"></div>
<div class="r_post">
    {% if user.is_authenticated and user == post.author %}
    <div class="edit"><a href="{% url 'edit_post' post.id %}">Edit</a></div>
    {% endif %}
    <h5 class="post_info">Dans {{ post.category.name }}</h5>
    <h5 class="post_info">Rédigé par {{ post.author }}, le {{ post.date|date:"DATE_FORMAT" }}</h5><br>
    <h2 class="post_title">{{ post.title }}</h2><br>
    <p>{{ post.content|linebreaks }}</p>
</div>
{% endblock content %}
